@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@100&display=swap");
* {
  margin: 0;
  font-family: roboto;
}
header {
  background-color: white;
}
.navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 1897px;
  color: #ababab;
  margin-top: -33px;
  background-color: white;
  box-shadow: 0px 5px 21px 0px #0000001b;
  -webkit-box-shadow: 0px 5px 21px 0px #0000001a;
  -moz-box-shadow: 0px 5px 21px 0px #0000001b;
  z-index: 1;
}
#nav-1 {
  display: flex;
  height: 70px;
  width: 1000px;
  margin-left: 6px;
  justify-content: space-between;
  align-items: center;
}

.img-docplanner {
  height: 33px;
  width: 268px;
  cursor: pointer;
  margin-left: 9px;
  margin-top: -7px;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 15px;
  height: 70px;
  width: 252px;
  cursor: pointer;
  margin-right: 17px;
}
.menu-item1 {
  color: #00b39b;
  margin-left: -0.5px;
}
.menu-item2 {
  margin-right: 0px;
}
.menu-item3 {
  margin-right: -3px;
}
.menu-item:hover {
  color: #00b39b;
}
.menu-item:hover .drop-menu {
  display: flex;
  flex-direction: column;
}
.drop-menu-item:hover {
  color: #00b39b;
  background-color: #ababab17;
}
.drop-menu-item {
  list-style: none;
  line-height: 18px;
  text-align: left;
  color: #ababab;
  height: 42px;
  width: 200px;
  margin-left: -40px;
  padding: 12px 16px 12px 16px;
}
.drop-menu {
  display: none;
  position: absolute;
  background-color: white;
  width: 190px;
  height: 220px;
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
  margin-left: -100px;
}
#div-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 33px;
  margin-left: 6px;
}
#div-section img {
  height: 39px;
  width: 40px;
  margin-left: -6px;
  margin-top: 70px;
}
#div-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: work sans;
  color: #00b39b;
  height: 44px;
  width: 900px;
  margin-top: 34px;
  margin-left: -10px;
  margin-bottom: 30px;
  font-size: 34px;
}
#paragraph {
  display: flex;
  justify-content: space-around;
  margin-top: 1px;
}
#paragraph-1 p {
  color: #747474;
  font-size: 16px;
  line-height: 28px;
  margin-top: 25.5px;
  margin-right: 18px;
  margin-left: -6.5px;
  width: 477px;
}
#paragraph-2 p {
  color: #747474;
  font-size: 16px;
  line-height: 28px;
  margin-top: 25.5px;
  margin-left: 2.5px;
  width: 477px;
}
#services-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 83px;
  margin-left: 437px;
  height: 365px;
  width: 1015px;
}
#services-1 {
  background-color: #00ccb1;
  border-radius: 10px;
  font-size: 26px;
  color: white;
  height: 345px;
  width: 312px;
  margin-left: 10px;
}
#services-1:hover {
  background-color: #03d3b7;
}

#services-1:hover #services-1-selecter {
  background-color: #03d3b7;
}
#services-2 {
  background-color: #3d83df;
  border-radius: 10px;
  color: white;
  height: 345px;
  width: 312px;
  margin-left: -10px;
}
#services-2:hover {
  background-color: #4089e9;
}
#services-2:hover #services-2-selecter {
  background-color: #4089e9;
}
#services-3 {
  background-color: #1b2734;
  border-radius: 10px;
  color: white;
  height: 345px;
  width: 312px;
  margin-left: -11px;
}
#services-3:hover {
  background-color: #22303f;
}
#services-3:hover #services-2-1-selecter {
  background-color: #22303f;
}
#services-3:hover #services-2-2-selecter {
  background-color: #22303f;
}
#services-main h1 {
  font-family: work sans;
  margin-top: 4px;
  margin-left: 32px;
  font-size: 26px;
}
#services-main h2 {
  font-family: work sans;
  margin-left: 32px;
  margin-top: 11px;
  font-size: 24px;
  height: 86px;
  width: 247px;
}
#services-main img {
  margin-left: 32px;
  margin-top: 32px;
}
#services-1-selecter {
  font-size: 19px;
  color: white;
  border: 0px;
  text-decoration: underline;
  background-color: #00ccb1;
  margin-left: 28px;
  margin-top: 85px;
  cursor: pointer;
}
.services-selecter-drop {
  color: black;
  background-color: white;
}
#services-2-selecter {
  font-size: 19px;
  color: white;
  border: 0px;
  text-decoration: underline;
  background-color: #3d83df;
  margin-left: 28px;
  margin-top: 85px;
  cursor: pointer;
}
#services-2-1-selecter {
  font-size: 19px;
  color: white;
  border: 0px;
  text-decoration: underline;
  background-color: #1b2734;
  margin-left: 28px;
  margin-top: 45px;
  cursor: pointer;
}
#services-2-2-selecter {
  font-size: 19px;
  color: white;
  border: 0px;
  text-decoration: underline;
  background-color: #1b2734;
  margin-left: 28px;
  margin-top: 15px;
  cursor: pointer;
}
#services-2-2-selecter:hover {
  background-color: #22303f;
}
#brands-main {
  display: flex;
  justify-content: center;
}
#brands {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-left: 20px;
  height: 160px;
  width: 1015px;
}
#brands h1 {
  font-weight: 300;
  color: #00b39b;
  font-size: 26px;
  height: 120px;
  width: 390px;
  margin-left: 5px;
}
#brands-img {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  margin-left: 145px;
  height: 160;
  width: 654;
}
#brands-img svg {
  fill: rgb(148, 145, 145);
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
#brands-img svg:hover {
  fill: #00b39b;
}
#brands-img img {
  filter: grayscale(100%);
  margin-right: 40px;
  cursor: pointer;
}
#brands-img img:hover {
  filter: none;
}
.stats-main {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  height: 599px;
  width: 1897px;
  background-image: url(https://cdn.discordapp.com/attachments/1093497830917816403/1108684129622564955/Sans_titre-2.png);
  background-size: cover;
}
.text-stats {
  height: 202px;
  width: 498px;
  margin-top: 70px;
  margin-left: 130px;
}
.text-stats h1 {
  font-family: work sans;
  letter-spacing: -0.3px;
  line-height: 44.2px;
  font-size: 34px;
  color: #00b39b;
}
.text-stats p {
  margin-top: 30px;
  font-size: 14px;
  color: #747474;
}
.stats-img {
  display: flex;
}
.stats-img-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 229px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.div-stats-img-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -11px;
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
}
.div-stats-img-3-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
  margin-bottom: 40px;
  padding: 15px 15px 15px 15px;
}
.stats-img-back h3 {
  text-align: center;
  font-family: work sans;
  font-size: 24px;
  color: #00b39b;
  margin-top: 15px;
}
.stats-img-back p {
  text-align: center;
  font-size: 13px;
  color: #747474;
  margin-top: 15px;
}
.stats-img-1 {
  flex-direction: column;
  margin-bottom: 20px;
}
.stats-img-2 {
  flex-direction: column;
}
.stats-img-3 {
  flex-direction: column;
  margin-bottom: 20px;
}
.stats-img-4 {
  flex-direction: column;
}
#contand-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#contand-text h1 {
  font-family: work sans;
  font-size: 30px;
  color: #00b39b;
  margin-top: 100px;
}
#contand-text p {
  color: #747474;
  font-size: 14px;
  margin-top: 30px;
}
#span-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1688px;
  width: 1015px;
  margin-top: 74px;
  margin-left: 441px;
}
.img-span {
  height: 270px;
  width: 309px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}
.img-pargraph {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 18px;
  height: 70px;
  width: 309px;
  margin-top: -4px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.img-pargraph p {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #747474;
  height: 70px;
  width: 150px;
}
.img-pargraph span {
  background-color: #3d83df;
  line-height: 10px;
  color: white;
  height: 10px;
  width: 70px;
  padding: 10px 15px 10px 15px;
  font-size: 10px;
  margin-left: 15px;
  border-radius: 4px;
}
.img-pargraph span:hover {
  background-color: #3670bd;
}
#img-span-1 {
  margin-left: 20px;
  height: 340px;
  width: 309px;
}
#img-span-1:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-2 {
  height: 340px;
  width: 309px;
}
#img-span-2:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-3 {
  margin-right: 20px;
  height: 340px;
  width: 309px;
}
#img-span-3:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-4 {
  margin-top: -240px;
  margin-left: 20px;
  height: 340px;
  width: 309px;
}
#img-span-4:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-5 {
  margin-top: -240px;
  height: 340px;
  width: 309px;
}
#img-span-5:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-6 {
  margin-top: -240px;
  margin-right: 20px;
  height: 340px;
  width: 309px;
}
#img-span-6:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-7 {
  margin-top: -240px;
  margin-left: 20px;
  height: 340px;
  width: 309px;
}
#img-span-7:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-8 {
  margin-top: -240px;
  height: 340px;
  width: 309px;
}
#img-span-8:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-9 {
  margin-top: -240px;
  margin-right: 20px;
  height: 340px;
  width: 309px;
}
#img-span-9:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#img-span-10 {
  margin-top: -240px;
  margin-left: 20px;
  height: 340px;
  width: 309px;
}
#img-span-10:hover {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.39);
}
#end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -175px;
}
#end h1 {
  font-family: work sans;
  font-size: 30px;
  line-height: 39px;
}
#end p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 12px;
  color: white;
  background-color: #387fdc;
  border-radius: 4px;
  height: 40px;
  width: 210px;
  text-align: center;
}
#end p:hover {
  background-color: #3572c1;
}
#foter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  height: 89px;
  width: 1897px;
  border-style: solid;
  border-color: #74747480;
}
#foter P {
  margin-top: 30px;
  font-size: 12px;
  color: #747474;
}
span {
  color: #3d83df;
}
